/* 
    CS 137
    Project 2
    Group 1

    styles.css
*/

div, h1, h2, h3, body, ul, li, img, header, p, tr, th {padding:0; margin:0;}

body {
    background-color:#d5d5d5;
    background-size:250px 250px;
    background-position:center top;
    font-family:Helvetica, Arial;
    color:#111;
}

#header {
	width:100%;
	height:374px;
	background-image:url("images/coffee_cup_header.png");
	background-position:center;
	overflow:hidden;
}

#title {
	width:100%;
	height:374px;
	line-height:374px;
	text-align:center;
	font-size:300%;
	font-family:"Courier New", monospace;
	color:#b85300;
	text-shadow:2px 2px 1px #111;
}

#nav.nav_rel {
	position:relative;
	width:100%;
}

#nav.nav_fixed {
	position:fixed;
	top:0px;
	width:100%;
}

#nav {
	z-index:999;
	border-bottom:2px solid #b85300;
}

#nav > ul {
	list-style-type:none;
	text-align:center;
	overflow:hidden;
	background-color:#eee;
}

#nav > ul li {display:inline-block;}

#nav > ul li a {
	display:block;
	color:#111;
	border-bottom:3px solid;
	border-bottom-color:#eee;
	padding:14px 16px 11px 16px;
	text-decoration:none;
}

#nav > ul li a:hover:not(.active) {
	color:#b85300;
	border-bottom:3px solid;
	border-bottom-color:#b85300;
    -webkit-transition:color .3s ease, border-bottom-color .3s ease;
    -moz-transition:color .3s ease, border-bottom-color .3s ease;
    -ms-transition:color .3s ease, border-bottom-color .3s ease;
    -o-transition:color .3s ease, border-bottom-color .3s ease;
    transition:color .3s ease, border-bottom-color .3s ease;
}

#nav > ul li a.active {
	color:#b85300;
	border-bottom:3px solid #b85300;
}

.content {
	display:block;
	width:640px;
	margin:50px auto 0px auto;
	background-color:#eee;
	color:#111;
	
}

.content h2 {
	font-size:250%;
	color:#b85300;
	margin-right:30px;
	margin-left:30px;
	padding-top:30px;
}

.content p {padding:20px 30px 0 30px;}

.content p:last-of-type {padding-bottom:20px;}

.content h4 {
	padding:20px 30px 0 30px;
	margin-bottom:0px;
}

#team {margin-bottom:50px;}
#team > ul {
	padding:20px 0px 20px 30px;
	list-style-type:none;
}

.products {
	display:block;
	position:relative;
	width:865px;
	margin:50px auto 50px auto;
	background-color:#eee;
	color:#111;
}

table {
	text-align:center;
	color:#111;
	width:100%;
	margin:0 auto;
}
th {
	text-align:left;
	padding:30px 30px 0 30px;
	font-size:250%;
	color:#b85300;
}

.hr_div {
	width:100%;
	border-bottom:2px solid #b85300;
}

td {
	margin:0px auto;
	width:25%;
	height:225px;
}

td a img:not(hover) {
	height:150px;
	width:150px;
	-webkit-transition:height .3s ease, width .3s ease;
    -moz-transition:height .3s ease, width .3s ease;
    -ms-transition:height .3s ease, width .3s ease;
    -o-transition:height .3s ease, width .3s ease;
    transition:height .3s ease, width .3s ease;
}

td a img:hover {
	height:175px;
	width:175px;
	-webkit-transition:height .3s ease, width .3s ease;
    -moz-transition:height .3s ease, width .3s ease;
    -ms-transition:height .3s ease, width .3s ease;
    -o-transition:height .3s ease, width .3s ease;
    transition:height .3s ease, width .3s ease;
}

.checkout {
	display:table;
	width:865px;
	margin:50px auto 10px auto;
	padding:10px;
	background-color:#eee;
	color:#111;
}

#item_info {
	float:left;
	width:465px;
	text-align:right;
	margin:10px 10px;
}

.co_item_text {
	margin-right:15px;
}

#co_item_img {
	width:465px;
	height:465px;
	margin-bottom:10px;
}

#checkout_form {
	display:inline-block;
	position:relative;
	float:right;
	margin-right:10px;
}
#checkout_form p {margin-top:5px;}

.form_container {clear:both;padding-top:10px;}
.form_left {float:left;margin-right:5px;}
.form_right {float:right;}
